body {
  background-color: rosybrown;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/img/formcv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.head_cont {
  align-items: center;
  justify-content: center;
}
.head_cont h1,
h4 {
  text-align: center;
  padding-top: 20px;
  color: aliceblue;
  margin: 30px;
}
.container {
  max-width: 900px;
  padding-bottom: 40px;
  border-radius: 10px;
  margin-top: 20px;
}
.text_cont label {
  padding-left: 14px;
  font-weight: bold;
}

.opt_cont label {
  padding-left: 11px;
  font-weight: bold;
}

.text_cont input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.text_cont,
.opt_cont,
.area_cont {
  margin-bottom: 20px;
}
.opt_cont select {
  width: 100%;
  margin: 10px;
  border-color: rgb(88, 9, 234);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

input,
textarea {
  width: 100%;
  margin-top: 0px;
}

.btn_center {
  justify-content: center;
  align-items: center;
  padding-left: 40%;
  margin: 10px;
  width: 100%;
}
.btn_center button {
  border-radius: 10px;
  width: 130px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn_center button:hover {
  color: hwb(0 93% 3%);
}
.area_cont label {
  font-weight: bold;
}
